#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
  position: relative;
  margin-top: 50px; /* Header height */
  height: calc(100vh - 50px);
  overflow: hidden;
}
